.container{
  font-family: arial, sans-serif;
  margin-top: 3%;/*上ちょっとあける*/
}

h1{
  text-align: center;/*中央寄せ*/
  padding-bottom: 3%;
}

.cp_hr02 {
	border-width: 1px 0 0 0;
	border-style: dashed;
	border-color: #BBBBBB;
}

.github_logo{
  display:inline-block;
  text-align:center; 
}

img{
  -webkit-appearance: none;
  margin: 40px !important;
}