.card{
  margin: 0.5rem 0;
}

.card-body{
  /* background-color: red; */
}

.shop-name{
  /* background-color: black; */
  padding:0 1rem;
  width: auto;
  height: 70px;
}

.shop-address{
  /* background-color: green; */
  padding:0.5rem;
}

.shop-catch{
  /* background-color: blue; */
  padding:0.5rem;
}

.shop-card{
  /* background-color: yellow; */
  padding:0 1rem;
  width: auto;/*親要素いっぱい*/
  height: 20px;
}

.shop-img{
  width: 95%;/*親のコンテンツ幅を基準*/
  height: 40%;/*親のコンテンツ幅を基準*/
  object-fit: cover;
  margin: 2% auto 0;
}