header{
  background-color: #cbba83;
  padding:1rem 0;/*上下少し余白。*/
  text-align: center;
}

h1{
  font-size: 3rem;
}

.cp_hr02 {/*破線*/
  margin:40px 0;/*上下*/
	border-width: 1px 0 0 0;
	border-style: dashed;
	border-color: #BBBBBB;
}

.main{
  background-color: #ffecb3;
}

footer{
  background-color: #ffffe5;
  padding: 4rem 0;
  text-align: center;
}