.container {
  text-align: center;/*中央寄せ*/
}

h1{
  margin: 20px 0 30px; /*上,左右,下*/
}

h3{
  margin-bottom:20px;
}

.cp_hr02 {/*破線*/
  margin:40px 0;/*上下*/
	border-width: 1px 0 0 0;
	border-style: dashed;
	border-color: #BBBBBB;
}