.container {
  text-align: center;/*中央寄せ*/
}

h1{
  margin-top: 3%;
  margin-bottom: 5%;
}

h3{
  margin-top: 20px;
}

.cp_hr02 {/*破線*/
	border-width: 1px 0 0 0;
	border-style: dashed;
	border-color: #BBBBBB;
}