.container{
  background-color: aqua;
  margin-top: 3px;/*ちょっと下に下げる*/
}

#money{
  background-color: red;
}

#form{
  background-color: greenyellow;
}

#table{
  background-color: #28a745;
}


.align-middle{/*縦連結*/
  text-align: center;
  color: white;
}

.bg-red{
  background-color: #dc3545;/*bootstrapのボタン色に合わせる*/
  color: white;
  text-align: center;
}

.bg-black{
  background-color: #343a40;/*bootstrapのボタン色に合わせる*/
  color: white;
  text-align: center;
}