.container{
  margin-top: 3px;/*ちょっと下に下げる*/
  text-align: center;
}

header{
  text-align: right;
}

#form{
  background-color: greenyellow;
}

#table{
  background-color: #28a745;
  padding:20px 20px;
}

h1{
  text-align: center;
}

h3{
  text-align: center;
}

.result{
  padding:30px;
}

.align-middle{/*縦連結*/
  text-align: center;
  color: white;
}

.bg-red{
  background-color: #dc3545;/*bootstrapのボタン色に合わせる*/
  color: white;
  text-align: center;
}

.bg-black{
  background-color: #343a40;/*bootstrapのボタン色に合わせる*/
  color: white;
  text-align: center;
}