.container{
  background-color: aqua;
  margin-top: 3px;/*ちょっと下に下げる*/
}

#money{
  background-color: red;
}

#form{
  background-color: greenyellow;
}

#table{
  background-color: green;
}


.align-middle{/*縦連結*/
  text-align: center;
  color: white;
}

.bg-red{
  background-color: red;
  color: white;
  text-align: center;
}

.bg-black{
  background-color: black;
  color: white;
  text-align: center;
}